# Visual Studio
*.sdf
*.sln
*.user
*.suo
*.opensdf
*.db
Debug/
ipch/
x64/
.vs/

#tempfiles
~$_*.*

#codelite
.clang/
.codelite/
Debug/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
ms1/CMakeFiles/8edfc39e4f783f368526f58b5e560907
ms1/CMakeFiles
hellp
ms1/ZERO_CHECK.vcxproj
ms1/ZERO_CHECK.vcxproj.filters
ms1/cmake_install.cmake
ms1/.vscode/tasks.json
ms1/ALL_BUILD.vcxproj
ms1/ALL_BUILD.vcxproj.filters
ms1/CMakeCache.txt
ms1/CmakeLists.txt
ms1/prj.vcxproj.filters
ms1/prj.vcxproj
